<header>
  <div class="header-content">
    <a href="/" class="site-name">
      Software and Web Development
    </a>

    <nav>
      <a
        href="/"
        class="<%= currentPage === 'overview' ? 'active' : '' %>"
      >
        Overview
      </a>

      <a
        href="/web-process"
        class="<%= currentPage === 'process' ? 'active' : '' %>"
      >
        Web Process
      </a>

      <a
        href="/web-design"
        class="<%= currentPage === 'design' ? 'active' : '' %>"
      >
        Web Design
      </a>

      <a
        href="/software-engineering"
        class="<%= currentPage === 'software' ? 'active' : '' %>"
      >
        Software Engineering
      </a>

      <a
        href="/resources"
        class="<%= currentPage === 'resources' ? 'active' : '' %>"
      >
        Learning Resources
      </a>

      <a
        href="/developer-profile"
        class="<%= currentPage === 'developer' ? 'active' : '' %>"
      >
        Developer Profile
      </a>
    </nav>
  </div>
</header>